# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# Maven
target/

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# Mac OS Files
.DS_Store

# Windows Files
Thumbs.db
